.row
  .col-lg-offset-3.col-lg-6
    %h1= t("views.practice.title")
.row
  .col-lg-offset-3.col-lg-6
    .card.card-block.text-lg-center
      %p.card-text
        - if @word
          %h3.card-title= @word.content
          = simple_format @word.excerpt, id: "excerpt", class: "hidden-xs-up"
          %p#translation.hidden-xs-up= @word.translation
          = link_to "Hint", "#hint", class: "btn btn-warning-outline hint"
          = link_to "Check", new_practice_path, class: "btn btn-primary-outline check"
          = link_to "I was wrong", practice_path(id: @word.id, result: "failed_repetition"),
            id: "was_wrong",
            class: "btn btn-danger-outline hidden-xs-up",
            method: :post
          = link_to "I was right", practice_path(id: @word.id, result: "successful_repetition"),
            id: "was_right",
            class: "btn btn-success-outline hidden-xs-up",
            method: :post
        - else
          = t("views.words.you_have_no_words_to_practice")
