.col-lg-4.col-lg-offset-4
  .row
    %h3
      Please Log In, or
      = link_to "Sign Up", new_user_registration_path
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, autofocus: true
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      .actions
        = f.submit "Log in", class: "btn btn-primary"
  .row
    = render "devise/shared/links"
