= simple_form_for word, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.input :content
  = f.input :translation
  = f.input :excerpt, as: :text
  .actions
    = f.button :submit, class: "btn btn-primary"
    = link_to "Cancel", words_path, class: "btn btn-link"
