.row
  .col-lg-12
    %h1
      = t("entities.words")
      = link_to t("views.words.add"), new_word_path, class: "btn btn-success-outline"
      = link_to t("views.words.practice"), new_practice_path, class: "btn btn-primary-outline"
#words
  .row
    .col-lg-12.p-b-3
      = @words.count
      = t("views.words.count", count: @words.count)

  .row
    .col-lg-12
      %table.table.table-striped
        %thead.thead-inverse
          %tr
            %th= Word.human_attribute_name(:content)
            %th= Word.human_attribute_name(:last_practiced_at)
            %th
        %tbody
          - @words.each do |word|
            %tr
              %td= link_to word.content, word
              %td
                - if word.last_practiced_at
                  = time_ago_in_words(word.last_practiced_at)
                  ago
              %td
                .pull-lg-right
                  = link_to "Edit", [:edit, word], class: "btn btn-sm btn-primary-outline"
                  = link_to "Delete", word, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger-outline"
