%h1
  Words
  = link_to "+ Add", new_word_path, class: "btn btn-success"
#words
  %div
    = @words.count
    Words

  %table.table.table-striped
    %thead
      %tr
        %td Word
        %td Last Practiced
        %td
    %tbody
      - @words.each do |word|
        %tr
          %td= link_to word.content, word
          %td= word.last_practiced_at
          %td
            = link_to "Delete", word, method: :delete, data: { confirm: "Are you sure?" }
