.row
  .col-lg-offset-3.col-lg-6
    .card.card-block.text-lg-center.text-xs-center{ class: gender_class(@word) }
      %p.card-text
        %h3.card-title
          = gender_icon @word
          = @word.content
        = simple_format @word.excerpt, class: "hidden-xs-up"
        - if @word.synonyms.present?
          %p= "≈ #{@word.synonyms}"
        - if @word.antonyms.present?
          %p= "↔ #{@word.antonyms}"
        - if @word.translation.present?
          %p.translation= @word.translation

