
%table.table-horizontal
  %tr
    %th= Word.human_attribute_name(:content)
    %td= @word.content
  %tr
    %th= Word.human_attribute_name(:translation)
    %td= @word.translation
  %tr
    %th= Word.human_attribute_name(:excerpt)
    %td= simple_format @word.excerpt

