.row
  .col-lg-12
    %h1
      = t("entities.categories")

#categories
  .row
    .col-lg-12.p-b-3
      - if @categories.any?
        %table.table.table-stripped
          %thead.thead-inverse
            %tr
              %th= Category.human_attribute_name(:name)
          %tbody
            - @categories.each do |category|
              %tr
                %td
                  = link_to category.name, category_words_path(category_id: category.id)
                  = "(#{category.words_count} #{t("views.words.count", count: category.words_count)})"
      - else
        %p.text-xs-center= t("views.categories.no_categories_yet")

