!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:"http-equiv" => "x-ua-compatible", content: "ie-edge"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title Rep Of Spaces
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js"
    = javascript_include_tag 'application'
  %body
    = render 'shared/top_navbar'
    - if alert
      %p.alert.alert-danger= alert
    - if notice
      %p.alert.alert-success= notice

    = yield(:welcome_header)
    .container-fluid
      .row
        .col-lg-12.m-t-3
          = yield
